label {
  display: block;
}

.custom-input {
  padding-bottom: 2%;
}

.custom-input-erros label{
  color: red;
}

.custom-input-erros input{
  border: 2px solid red;
  border-radius: 4px;
}

.message-label {
  font-size: 16px;
  color: #4a4a4a;
  margin-bottom: 8px;
  display: block;
}

.message-input {
  width: 20%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.error {
  color:  red;
  margin: 0;
}